[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-jose = "*"
passlib = "*"
sqlalchemy = "*"
uvicorn = "*"
alembic = "*"
jose = "*"
python-multipart = "*"
starlette = "*"

[dev-packages]

[requires]
python_version = "3.9"
